.modalContainer {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    height         : 100%;
}

.modalContent {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-around;
    align-items    : center;
    width          : 100%;
    height         : 100%;
}

.modalContentPart {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    width          : 50%;
    height         : 100%;
}


.productImage {
    max-height: 60%;
}

.price {
    font-size: 25pt;
}

.chartContainer{
    height: 60%;
    width: 100%;
}

@media (max-width: 1000px) {
    .modalContentPart {
        width: 90%;
        height: 50%;
    }

    .productImage {
        max-height: 65%;
    }

    .chartContainer {
        height: 80%;
    }

}